<section class="aboutus" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-5">
                <div class="aboutus__inner">
                    <div class="title title--left">
                        <h3 class="title__text">О компании</h3>
                        <hr class="title__decor">
                    </div>
                    <p class="aboutus__text">
                        Компания SpektrDL производит и устанавливает натяжные потолки с 2012 года. За это время мы изготовили более 14 000 м. кв. полотна и установили натяжные потолки более чем в 872 помещениях.</p>
                        <p class="aboutus__text">
                        Мы изготавливаем продукцию  только из сертифицированных и экологичных материалов, согласно ГОСТ и ТУ.</p>
                        <p class="aboutus__text">
                        Большая команда - 6 квалифицированных бригад, позволяет нам в кратчашие сроки выполнять замеры и монтаж.
                    </p>
                </div>
            </div>
            <div class="col-12 col-xl-2"></div>
            <div class="col-12 col-xl-5">
                <div class="aboutus__inner aboutus__inner--right">
                    <div class="row">
                        <div class="col-4">
                            <div class="aboutus__item">
                                <svg class="aboutus__item-icon">
                                    <use xlink:href="#factory"></use> 
                                </svg>
                                <p class="aboutus__item-text">Собственное производство</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="aboutus__item">
                                <svg class="aboutus__item-icon">
                                    <use xlink:href="#garant"></use> 
                                </svg>
                                <p class="aboutus__item-text">Гарантия<br>5 лет</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="aboutus__item">
                                <svg class="aboutus__item-icon">
                                    <use xlink:href="#ecology"></use> 
                                </svg>
                                <p class="aboutus__item-text">Экологичные матриалы</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div class="aboutus__item">
                                <svg class="aboutus__item-icon">
                                    <use xlink:href="#money"></use> 
                                </svg>
                                <p class="aboutus__item-text">Доступные<br>цены</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="aboutus__item">
                                <svg class="aboutus__item-icon">
                                    <use xlink:href="#skill"></use> 
                                </svg>
                                <p class="aboutus__item-text">Опыт<br>более 8 лет</p>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>