<div class="adv">
    <div class="container">
    <div class="adv__inner">
        <div class="adv__content">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="adv__item">
                        <svg class="adv__item-icon">
                            <use xlink:href="#prices"></use> 
                        </svg>
                        <p class="adv__item-text">
                            <b>Не переплачивайте посредникам</b>, закажите натяжной потолок с<br>установкой напрямую от производителя.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="adv__item">
                        <svg class="adv__item-icon">
                            <use xlink:href="#worker"></use> 
                        </svg>
                        <p class="adv__item-text">
                            <b>Получите качественный потолок от профессионалов.</b> Мы производим и устанавливаем более 200 м² полотна в день.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="adv__item">
                        <svg class="adv__item-icon">
                            <use xlink:href="#docs"></use> 
                        </svg>
                        <p class="adv__item-text">
                            <b>Заключая договор с нами, Вы получаете:</b><br>- Гарантию 5 лет<br>- Фиксированную цену<br>- Уют в Вашем доме :)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>