<section class="faq">
    <div class="container">
        <div class="faq__inner">
            <div class="title title--center faq__title">
                <h3 class="title__text ">Популярные вопросы</h3>
                <hr class="title__decor">
                <!-- <p class="title__subtext">Наших клиентов</p> -->
            </div>
            <div class="faq__content">
                
                <a onclick="showTab(0)" class="faq__tab-link">А если мы найдем цену<br>дешевле?
                    <span class="faq__tab-icon">
                        <span class="faq__tab-icon-inner"></span>
                    </span>
                </a>
                <div class="faq__tab-content">
                    <p class="faq__tab-text">
                        У фирм посредников бывают цены ниже, но <b>стоимость включает только установку</b> полотна, а <b>остальные работы</b>: монтаж направляющих, установка светильников и т.п. <b>оплачиваются отдельно</b>. Очень часто при сдаче требуется доп. плата за услуги не включенные в стоимость!
                    </p>
                    <p class="faq__tab-text">
                        <b>Наши цены включают материалы и весь спектр работ</b> по монтажу натяжного потолка - под ключ.
                    </p>
                    <p class="faq__tab-text">
                        Собственное производство натяжных потолков позволяет нам снизить итоговую стоимость.
                    </p>
                </div>

                <a onclick="showTab(1)" class="faq__tab-link">На что распоcтраняется<br>гарантия?<span class="faq__tab-icon">
                    <span class="faq__tab-icon-inner"></span>
                </span></a>
                <div class="faq__tab-content">
                    <p class="faq__tab-text">
                        Мы устанавливаем полотно собственного производства и даем гарантию от производителя <b>5 лет</b> на все виды работ и комплектующих.<br>Гарантия фиксируется в <b>договоре</b>. В течении гарантии, все дефекты устраняются <b>бесплатно</b>.
                              
                    </p>
                </div>

                <a onclick="showTab(2)" class="faq__tab-link">Как быстро заказать<br>натяжной потолок?
                    <span class="faq__tab-icon">
                        <span class="faq__tab-icon-inner"></span>
                    </span>
                </a>
                <div class="faq__tab-content">
                    <p class="faq__tab-text"><b>1. Если Вы еще не решили какой?</b>
                    <br>Используйте 
                    <a href="#popup:marquiz_5e679534f32ebd00444f1bbf" onclick="ym(57674548, 'reachGoal', 'quiz');"class="faq__link">
                        подбор потолка онлайн
                    </a> или 
                    <a href="" class="faq__link btn-zamer">вызовете замерщика</a> 
                    (бесплатно). Наш замерщик приедет с каталогами, поможет с выбором и рассчитает стоимость.</p>

                    <p class="faq__tab-text"><b>2. Фиксируем цену</b>
                    <br>Фиксируем стоимость работ, обсудим дату и заключим договор.</p>

                    <p class="faq__tab-text"><b>3. Установка </b>
                        <br>В указанную дату наша профессиональная бригада монтажников качествено устанавливает потолок за считанные часы.</p>
                </div>

                
            </div>
        </div>
    </div>
</section>