<section class="feedback" id="feedback">
    <div class="container">
        <div class="feedback__inner">
            <div class="feedback__content">
                <div class="title title--left feedback__title">
                    <h4 class="title__text">Что говорят<br>наши клиенты</h4>
                    <hr class="title__decor feedback__decor">
                    <p class="title__subtext">Мы в социальных сетях!</p>
                    
                    <a onclick="ym(57674548, 'reachGoal', 'soc');" href="https://www.instagram.com/spektr_dl" class="feedback__icon-link">
                        <svg class="feedback__icon">
                            <use xlink:href="#instagram"></use> 
                        </svg>
                    </a>
                    <a onclick="ym(57674548, 'reachGoal', 'soc');" href="https://vk.com/club68806935" class="feedback__icon-link">
                        <svg class="feedback__icon">
                            <use xlink:href="#vk"></use> 
                        </svg>
                    </a>
                </div>
            </div>
            <div class="feedback__glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="feedback__item">
                                <div class="feedback__item-row">
                                    <img src="/assets/img/f5.jpg" alt="" class="feedback__item-img">
                                    <div class="feedback__item-title">
                                        <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_86%2Fall" class="feedback__item-title-link">Екатерина Коурова</a>
                                        <p class="feedback__item-subtitle">@e.kourova</p>
                                    </div>
                                </div>
                                <p class="feedback__item-text">Добрый день! Сегодня сделали натяжной потолок: белый глянцевый. Очень остались довольны. Самое главное ...</p>
                                <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_86%2Fall" class="feedback__item-link">Читать полностью...</a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="feedback__item">
                                <div class="feedback__item-row">
                                    <img src="/assets/img/f2.jpg" alt="" class="feedback__item-img">
                                    <div class="feedback__item-title">
                                        <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_229%2Fall" class="feedback__item-title-link">Стас Хохряков</a>
                                        <p class="feedback__item-subtitle">@id7416843</p>
                                    </div>
                                </div>
                                <p class="feedback__item-text">Заказали потолки по всей квартире,остались довольны ценой,качеством и быстротой монтажа! Особенно порадовало ...</p>
                                <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_229%2Fall" class="feedback__item-link">Читать полностью...</a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="feedback__item">
                                <div class="feedback__item-row">
                                    <img src="/assets/img/f1.jpg" alt="" class="feedback__item-img">
                                    <div class="feedback__item-title">
                                        <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_231%2Fall" class="feedback__item-title-link">Мария Кондратьева</a>
                                        <p class="feedback__item-subtitle">@knopy</p>
                                    </div>
                                </div>
                                <p class="feedback__item-text">Все супер! Спасибо за быструю и качественную работу за низкую стоимость. Огромное спасибо! Вы лучшие!</p>
                                <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_231%2Fall" class="feedback__item-link">Читать полностью...</a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="feedback__item">
                                <div class="feedback__item-row">
                                    <img src="/assets/img/f3.jpg" alt="" class="feedback__item-img">
                                    <div class="feedback__item-title">
                                        <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_150%2Fall" class="feedback__item-title-link">Юлия Митрофанова</a>
                                        <p class="feedback__item-subtitle">@mitrofanova1982</p>
                                    </div>
                                </div>
                                <p class="feedback__item-text">Заказывали потолки в этой компании,результатам остались очень довольны !!! Вызвали замерщика Евгения все рассказал, ...  </p>
                                <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_150%2Fall" class="feedback__item-link">Читать полностью...</a>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="feedback__item">
                                <div class="feedback__item-row">
                                    <img src="/assets/img/f4.jpg" alt="" class="feedback__item-img">
                                    <div class="feedback__item-title">
                                        <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_155%2Fall" class="feedback__item-title-link">Андрей Низамов</a>
                                        <p class="feedback__item-subtitle">@t5555</p>
                                    </div>
                                </div>
                                <p class="feedback__item-text">Заказали потолки во всей квартире, результатом очень довольны, быстро, качественно, цена очень хорошая, буду ...</p>
                                <a target="_blank" href="https://vk.com/club68806935?w=wall-68806935_155%2Fall" class="feedback__item-link">Читать полностью...</a>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div class="feedback__right">
        <div class="feedback__arrows">
            <a onclick="myGlide2.go('<')" class="feedback__arrow feedback__arrow--left">
                <svg class="feedback__arrow-icon feedback__arrow-icon--left">
                    <use xlink:href="#arrow"></use> 
                </svg>
            </a>    
            <a onclick="myGlide2.go('>')" class="feedback__arrow feedback__arrow--right">
                <svg class="feedback__arrow-icon">
                    <use xlink:href="#arrow"></use> 
                </svg>
            </a>    
        </div>
    </div>
    
</section>