<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
<link rel="stylesheet" href="assets/css/style.min.css">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">

<title>{{ title }}</title>
<!-- GOOGLE -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-86162550-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_MEASUREMENT_ID');
</script>
<!-- YANDEX -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
        m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(57674548, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<!-- ZADARMA -->
<script>(function(w, c){(w[c]=w[c]||[]).push(function(){new zTracker({"id":"25ad1b706b9b6e48c92476e29147c8266738","metrics":{"metrika":"57674548","ga":"UA-86162550-2"},"domain":"sdl-potolki.ru"});});})(window, "zTrackerCallbacks");</script>
<script async id="zd_ct_phone_script" src="https://my.zadarma.com/js/ct_phone.min.js"></script>