<div class="navbar" id="navbar">
    <div class="container-fluid">
        <div class="navbar__inner">
            <a href=""><img class="navbar__logo" src="assets/img/logo.png" alt=""></a>
            <span class="navbar__logo-text">Фабрика натяжных потолков<br>в {{ town }}</span>
            <button class="navbar__hamburger hamburger hamburger--slider" type="button" id="toggleNav">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>
            <nav class="nav navbar__nav" id="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#getPrice" class="navbar__link">Цены</a>
                    </li>
                    <li class="nav__item">
                        <a href="#portfolio" class="navbar__link">Наши работы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#calc" class="navbar__link">Калькулятор</a>
                    </li>
                    <li class="nav__item">
                        <a href="#feedback" class="navbar__link">Отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#aboutus" class="navbar__link">О компании</a>
                    </li>
                    <li class="nav__item">
                        <a href="#sales" class="navbar__link">Скидки</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="navbar__link">Контакты</a>
                    </li>
                    <li class="nav__item">
                        <a href="tel:+73432000832" onclick="ym(57674548, 'reachGoal', 'phone');" class="zphone navbar__link navbar__link--phone">+7 (343) 200-08-32</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>