<div class="popup" id="popup2">
    <div class="popup__content">
        <a class="popup__close" id="zPopupClose2"><span class="popup__close-inner"></span></a>
        <h4 class="popup__title">Остались вопросы?</h4>
        <!-- <p class="popup__text">И узнайте стоимость натяжного потолка.</p> -->

        <form class="callbackwidget-call-form popup__form my-lead-form">
            <h4 class="popup__form-title">Оставьте нам свой номер и мы перезвоним Вам в течение 20 минут!</h4>
            <input type="tel" placeholder="+7 (___) ___-__-__" class="popup__input tel-input">
            <button type="submit" onclick="ym(57674548, 'reachGoal', 'zamerSubmit');" class="cform-submit form-submit btn btn--green popup__btn">Позвоните мне</button>
            <p class="popup__text--small">Нажимая кнопку "Позвонить мне" я соглашаюсь с условиями политики конфиденциальности.</p>
        </form>
        <div class="popup__phone">
            <p class="popup__desc">
                Звоните <a onclick="ym(57674548, 'reachGoal', 'phone');" class="zphone popup__link popup__link">
                    +7 (343) 234-54-54
                </a>
            </p>
            <div class="popup__icon-group">
                <a onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#vk"></use> 
                    </svg>
                </a>
                <a onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#instagram"></use> 
                    </svg>
                </a>
                <a onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#whatsapp"></use> 
                    </svg>
                </a>
            </div>
        </div>
        
    </div>
</div>