<div class="popup" id="popup">
    <div class="popup__content">
        <a class="popup__close" id="zPopupClose"><span class="popup__close-inner"></span></a>
        <h4 class="popup__title">Вызовите замерщика</h4>
        <!-- <p class="popup__text">И узнайте стоимость натяжного потолка.</p> -->

        <form action="" class="callbackwidget-call-form popup__form my-lead-form">
            <h4 class="popup__form-title">Оставьте нам свой номер и мы перезвоним Вам в течение 20 минут!</h4>
            <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="popup__input tel-input">
            <button type="submit" onclick="ym(57674548, 'reachGoal', 'zamerSubmit');" class="cform-submit form-submit btn btn--green popup__btn">Позвоните мне</button>
            <p class="popup__text--small">Нажимая кнопку "Позвонить мне" я соглашаюсь с условиями политики конфиденциальности.</p>
        </form>
        <div class="popup__phone">
            <p class="popup__desc">
                Звоните <a href="tel:+73432000832" onclick="ym(57674548, 'reachGoal', 'phone');" class="zphone popup__link popup__link">
                    +7 (343) 200-08-32
                </a>
            </p>
            <div class="popup__icon-group">
                <a href="https://vk.com/club68806935" onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#vk"></use> 
                    </svg>
                </a>
                <a href="https://www.instagram.com/spektr_dl/" onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#instagram"></use> 
                    </svg>
                </a>
                <a href="https://wa.me/79220257444" onclick="ym(57674548, 'reachGoal', 'soc');" class="popup__link popup__link--icon">
                    <svg class="popup__icon">
                        <use xlink:href="#whatsapp"></use> 
                    </svg>
                </a>
            </div>
        </div>        
    </div>
</div>