<section class="price-desc" id="getPriceDesc">
    <div class="container">
        <div class="title title--center">
            <h2 class="title__text">Что включенно в стоимость?</h2>
            <hr class="title__decor">
            <p class="title__subtext">Предложение <b>«под ключ» от SpektrDL</b> включает: </p>
        </div>
        <table class="price-desc__table">
            <tr class="table__row table__row--first">
                <td class="table__cell"></td>
                <td class="table__cell">
                    Наше предложение
                </td>
                <td class="table__cell">Предложение компаний<br>посредников</td>
            </tr>

            <tr class="table__row">
                <td class="table__cell">
                    Установка полотна и материалы:
                </td>
                <td class="table__cell">
                    от 559 руб/м²                </td>
                <td class="table__cell">
                    от 290 руб/м²
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    Установка потолочного плинтуса:
                </td>
                <td class="table__cell">
                    0 руб/м
                </td>
                <td class="table__cell">
                    от 45 руб/м
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    Установка освещения:
                </td>
                <td class="table__cell">
                    Установка люстры в подарок!
                </td>
                <td class="table__cell">
                    от 250 руб/шт
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    Обвод труб:
                </td>
                <td class="table__cell">
                    0 руб/шт
                </td>
                <td class="table__cell">
                    от 130 руб/шт
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    Количество углов помещения:
                </td>
                <td class="table__cell">
                    0 руб/шт
                </td>
                <td class="table__cell">
                    от 150 руб/шт
                </td>
            </tr>
            <tr class="table__row">
                <td class="table__cell">
                    Макс. ширина полотна (без шва):
                </td>
                <td class="table__cell">
                    До 6 метров
                </td>
                <td class="table__cell">
                    От 3 метров цена увеличивается
                </td>
            </tr>
            
            <tr class="table__row table__row--last">
                <td class="table__cell">
                    <span class="table__price-text">Итого</span>
                </td>
                <td class="table__cell">
                    <span class="table__price-text">от 559 руб/м²</span>
                </td>
                <td class="table__cell">
                    <span class="table__price-text table__price-text--small">от 690 руб/м²</span>
                </td>
            </tr>
            <tr class="table__row table__row--last">
                <td class="table__cell">
                    <span class="table__price-text"></span>
                </td>
                <td class="table__cell">
                    <a href="#popup:marquiz_5e679534f32ebd00444f1bbf" onclick="ym(57674548, 'reachGoal', 'zamer');" class="btn btn--green price-desc__btn btn-zamer">Подобрать потолок и получить каждый 10-й м² в подарок</a>
                </td>
                <td class="table__cell">
                </td>
            </tr>
        </table>    
    </div>
</section>