<section class="prices" id="getPrice">
    <div class="container">
        <div class="prices__inner">
            <div class="title title--center">
                <h2 class="title__text">Цены на натяжные потолки</h2>
                <hr class="title__decor">
                <p class="title__subtext">За 1 м² с установкой</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="prices__item">
                        <h4 class="title item__title">Фотопечать</h4>
                        <p class="item__price">от <b>1719</b> руб / м²</p>
                        <p>установка + материалы</p>
                        <hr class="title__decor item__decor item__decor--green">
                        <ul class="item__desc-list">
                            <li class="item__desc"><b>Материал:</b> MSD Premium.</li>
                            <li class="item__desc"><b>Ширина полотна (без шва):</b> до 6 м</li>
                            <li class="item__desc"><b>Фактуры:</b> глянец, матовый, сатин</li>
                            <li class="item__desc"><b>Гарантия:</b> 5 лет</li>
                            <li class="item__desc"><b>Сертификат:</b> C-CN.ПБ71.И.00191</li>
                        </ul>
                        <a onclick="ym(57674548, 'reachGoal', 'zamer');" class="btn btn--green prices__btn btn-zamer">Заказать</a>
                        <a href="#popup:marquiz_5e679534f32ebd00444f1bbf" onclick="ym(57674548, 'reachGoal', 'quiz');" class="prices__link">Рассчитать цену</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="prices__item">
                        <h4 class="title item__title">Цветной</h4>
                        <p class="item__price">от <b>615</b> руб / м²</p>
                        <p>установка + материалы</p>
                        <hr class="title__decor item__decor item__decor--blue">
                        <ul class="item__desc-list">
                            <li class="item__desc"><b>Материал:</b> MSD Premium.</li>
                            <li class="item__desc"><b>Ширина полотна (без шва):</b> до 6 м</li>
                            <li class="item__desc"><b>Фактуры:</b> глянец, матовый, сатин</li>
                            <li class="item__desc"><b>Гарантия:</b> 5 лет</li>
                            <li class="item__desc"><b>Сертификат:</b> C-CN.ПБ71.И.00191</li>
                        </ul>
                        <a href="" class="btn btn--blue prices__btn btn-zamer">Заказать</a>
                        <a href="#popup:marquiz_5e679534f32ebd00444f1bbf" onclick="ym(57674548, 'reachGoal', 'quiz');" class="prices__link">Рассчитать цену</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="prices__item">
                        <div class="item__label">Лучшая цена</div>
                        <h4 class="title item__title">Белый</h4>
                        <p class="item__price">от <b>559</b> руб / м²</p>
                        <p>установка + материалы</p>
                        <hr class="title__decor item__decor item__decor--yellow">
                        <ul class="item__desc-list">
                            <li class="item__desc"><b>Материал:</b> MSD Classic, ткань.</li>
                            <li class="item__desc"><b>Ширина полотна (без шва):</b> до 6 м</li>
                            <li class="item__desc"><b>Фактуры:</b> глянец, матовый, сатин</li>
                            <li class="item__desc"><b>Гарантия:</b> 5 лет</li>
                            <li class="item__desc"><b>Сертификат:</b> C-CN.ПБ71.И.00191</li>
                        </ul>
                        <a href="" class="btn btn--yellow prices__btn btn-zamer">Заказать</a>
                        <a href="#popup:marquiz_5e679534f32ebd00444f1bbf" onclick="ym(57674548, 'reachGoal', 'quiz');" class="prices__link">Рассчитать цену</a>
                    </div>
                </div>
                
            </div>  
        </div>
    </div>
</section>