<section class="sales" id="sales">
    <div class="container">
        <div class="sales__inner">
            <div class="title title--center">
                <h3 class="title__text">Акции от SpektrDL</h3>
                <hr class="title__decor sales__decor">
            </div>
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="sales__item">
                        <img src="/assets/img/sales-1.jpg" alt="" class="sales__item-img">
                        <div class="sales__item-inner">
                        <h5 class="sales__item-title">Каждый 10-й м в подарок!</h5>
                        <p class="sales-text">Закажите натяжной потолок до <span id="salesDate1"></span>, и Вы получите в каждый 10-й м полотна с установкой бесплатно!</p>
                        <a class="btn-call btn btn--yellow sales__btn">Подробнее</a>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="sales__item">
                        <img src="/assets/img/sales-2.jpg" alt="" class="sales__item-img">
                        <div class="sales__item-inner">
                        <h5 class="sales__item-title">Пенсионерам скидка 8%</h5>
                        <p class="sales-text">До <span id="salesDate2"></span> при предъявлении пенсионного удостверения скидка 8% на материалы и установку.</p>
                        <a class="btn-call btn btn--blue sales__btn">Подробнее</a>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="sales__item">
                        <img src="/assets/img/sales-3.jpg" alt="" class="sales__item-img">
                        <div class="sales__item-inner">
                        <h5 class="sales__item-title">Монтаж света в подарок!</h5>
                        <p class="sales-text">Сделайте заказ натяжных потолков до <span id="salesDate3"></span> и получите установку одной люстры в подарок!</p>
                        <a class="btn-call btn btn--green sales__btn">Подробнее</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>